.t-fluo-main {
    .c-front {  background-color: #006ce0;   }
    .c-right {  background-color: #FF120A;   }
    .c-back {   background-color: #05F02C;   }
    .c-left {   background-color: #fd811c;   }
    .c-bottom { background-color: #ff0;   }
}

.t-fluo-pink {
    .c-front {  background-color: #006ce0;   }
    .c-right {  background-color: #ff30ad;   }
    .c-back {   background-color: #05F02C;   }
    .c-left {   background-color: #fd811c;   }
    .c-bottom { background-color: #000;   }
}

.t-fluo-black {
    .c-front {  background-color: #006ce0;   }
    .c-right {  background-color: #FF120A;   }
    .c-back {   background-color: #05F02C;   }
    .c-left {   background-color: #fd811c;   }
    .c-bottom { background-color: #000;   }
}
